.logo {
  width: 25%;
}

.nav-theme {
  background-color: #101018f8;
  font-size: 20px;
}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  background-color: #3d3f41;
  text-decoration: none;
  /* color: black; */
}

.navbar-dark .navbar-brand {
  color: #adb5bd;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #d8d8da;
}
